/.quarto/
/book/.quarto/
/book/site_libs/
/book/_site/
/book/_tmp
/book/_freeze/
/book/data/raw-dandiset-000939
/book/data/preprocessed-dandiset-000939
/notebooks/data
/notebooks/results
/docs/

**/*.quarto_ipynb
.vscode
*.pyc
*.egg

book/my_tsd.npz
/book/A2929-200711.nwb 
